.hero {
  height:300px;
  background: url("https://gweb-earth.storage.googleapis.com/assets/google_earth_banner.jpg") center center;
  background-size:cover;
}

.hero-img {
  width:100%;
  height:300px;
}

.hero-button{
  margin-top:200px;
  margin-left:46%;
}

.orbitron{
  font-family: 'Orbitron', sans-serif;
}

.poiret-font{
  font-family: 'Poiret One', cursive;
}

.row1{
  padding:10px;
}

.nest{
  border:1px black solid;
  padding:10px;
}

.box {
  background-color: silver;
  height: 200px;
  border:1px black solid;
  text-align: center;
}

.img-box{
  height:198px;
}
.box2 {
  background-color: silver;
  height: px;
  border:1px black solid;
  text-align: center;
}

.box3 {
  background-color: green;
  height: 100px;
}

.hider{
  display:none;
}

.showr{
  display:block;
}

@media (max-width: 768px) {
  .hider{
    display:block;
  }
  .showr{
    display:none;
  }
}
